html::-webkit-scrollbar,
body ::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 5px;
}

html::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
}

body ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
  ;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  //  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}


.el-table td, .el-table th{
  padding: 5px 0;
}
$Hig130:130px;
.inpheight {
  textarea {
    &.el-textarea__inner {
      min-height: auto !important;
      height: $Hig130;
    }
  }
}
.tableBtn button{
  margin:2px;
}
.inphidden{
  height: 0;
  width: 0;
}

.el-range-editor--medium.el-input__inner,
.el-date-editor.el-input,
.el-date-editor.el-input__inner,
.el-select {
    width: 100%;
  }

.el-card{
    border: none;
  }

  //elementui样式修改
.el-form-item {
  margin-bottom: 8px;
}
.blockchainDetail .el-form-item {
  margin-bottom: 2px;
}
.el-form-item__label,.el-form-item__content{
  line-height: 30px;
  line-height: 30px;
}
.el-input--medium .el-input__icon {
  line-height: 30px;
}

.el-form-item--medium .el-form-item__label {
  line-height: 30px;
}

.el-form-item--medium .el-form-item__content {
  line-height: 30px;
}

.el-input--small .el-input__inner {
  height: 30px;
  line-height: 30px;
}

.el-input--medium .el-input__inner {
  height: 30px;
  line-height: 30px;
}

.el-form-item__error {
  padding-top: 0px;
}



.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner {
  background-color: #ffffff;
  border-color: #dcdfe6;
  color: #606266;
}

.el-table--medium th,
.el-table--medium td {
  padding: 5px 0;
}
button{
  cursor: pointer;
}
